<section class="section-skills">
  <div class="section-skills__circle"></div>

  <div class="section-skills__content">
    <div class="section-skills__skill">
      <h4 class="section-skills__skill-heading">
        We Building <br />
        Social uniqueness
      </h4>

      <p class="section-skills__skill-description">
        The marketing strategy lays out target markets and the value.
      </p>
    </div>

    <div class="section-skills__skill">
      <h4 class="section-skills__skill-heading">
        Social Media <br />
        beyond probability
      </h4>

      <p class="section-skills__skill-description">
        Essentially a formula for how a business is going to compete,
      </p>
    </div>
  </div>
</section>
