<section id="feature" class="section-feature">
  <div class="section-feature__left">
    <img class="section-feature__img" src="assets/dashroad.jpg" alt="" />
  </div>

  <div class="section-feature__right">
    <div class="section-feature__info">
      <h4 class="section-feature__heading">Handoff your work smarter now</h4>
      <p class="section-feature__description">
        Create documentation for the collaborators (i.e. designers or devs)
        directly in your design file.
      </p>
    </div>

    <div class="section-feature__feature">
      <i
        class="fa-solid fa-file-word icon icon--circle section-feature__feature-icon"
      ></i>
      <div class="section-feature__feature-info">
        <h5 class="section-feature__feature-heading">Strategic</h5>
        <p class="section-feature__feature-description">
          Suggests that the component spacing between cards and elements.
        </p>
      </div>
    </div>

    <div class="section-feature__feature">
      <i
        class="fa-solid fa-calendar-days icon icon--circle section-feature__feature-icon"
      ></i>
      <div class="section-feature__feature-info">
        <h5 class="section-feature__feature-heading">Work schedule</h5>
        <p class="section-feature__feature-description">
          work schedule is the time an employee is expected to be on the job
        </p>
      </div>
    </div>
  </div>
</section>
