<section class="section-testimonial">
  <div class="section-testimonial__info">
    <h4 class="section-testimonial__heading">1000+ Customer</h4>
    <p class="section-testimonial__description">
      Analyze any Business or Creator account—including your competitors—to find
      the imagery, visuals, and captions that drive audience engagement. Get
      social calendars planned faster and spend less time testing content
      strategies.
    </p>
  </div>
  <ul class="section-testimonial__testimonials">
    <li class="section-testimonial__testimonials-items">
      <h5 class="section-testimonial__testimonials-heading">PRODUCT</h5>
      <p class="section-testimonial__testimonials-description">10,0000+</p>
    </li>
    <li class="section-testimonial__testimonials-items">
      <h5 class="section-testimonial__testimonials-heading">LIKES</h5>
      <p class="section-testimonial__testimonials-description">45,600</p>
    </li>
    <li class="section-testimonial__testimonials-items">
      <h5 class="section-testimonial__testimonials-heading">SALE</h5>
      <p class="section-testimonial__testimonials-description">57,6864</p>
    </li>
    <li class="section-testimonial__testimonials-items">
      <h5 class="section-testimonial__testimonials-heading">CUSTOMERS</h5>
      <p class="section-testimonial__testimonials-description">94,7444</p>
    </li>
  </ul>
</section>
